.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background-color: khaki;
    margin-bottom: 20px;
}

.img {
    text-align: center;
}

h2 {
    background-color: khaki;
}

h3 {
    background-color: khaki;
}

