* {

}

.title {                     /* Principal title */
    display: flex;
    justify-content: center;
    text-align: center;  
    font-size: 32px;
    font-weight: bold;
    background-color: khaki;
    border: 2px solid grey;
    margin-bottom: 20px;
}

.img {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: auto;  
}

.url {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.omelet,
.sandwich,
.hotdog {
    padding: 10px;
    border: 2px solid grey;
    background-color: khaki;
}

.sandwich {
    border-left: 0;
    border-right: 0;
}
h2,                             /* Description title */
h3 {                            /* Description ingredients */
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: khaki;
    border: 2px solid grey;  
}
p {                              /* Paragraphe Description Recette */
    display: flex;
    justify-content: left;
    text-align: left;
    margin-left: 20px;
    
}

ul,                               /* Liste ingrédients */
ol {                              /* Steps */
    display: flex;
    justify-content:center ;
    text-align: left;
    flex-direction: column;
}